---
import Layout from '../layouts/Layout.astro';
import BriefCase from '../icons/BriefCase.astro';
import Book from '../icons/Book.astro';
import CodeBracket from '../icons/CodeBracket.astro';
import ChatBubble from '../icons/ChatBubble.astro';
import Experience from '../components/Experience.astro';
import Container from '../components/Container.astro';
import Projects from '../components/Projects.astro';
import Studies from '../components/Studies.astro';
import Emails from '../components/Emails.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
---

<Layout title="Portfolio de Laro, desarrollador y programador">
	<main class="px-4">
		<Container id="about">
			<About/>
		</Container>
		<Container id="experience">
			<div class="flex flex-row pb-6">
				<BriefCase class="size-8"/>
				<h2 class="text-2xl pl-2 font-semibold">EXPERIENCIA LABORAL</h2>
			</div>
			<Experience/>
		</Container>
		<Container id="projects">
			<div class="flex flex-row pb-6">
				<CodeBracket class="size-8"/>
				<h2 class="text-3xl pl-2 font-semibold">PROYECTOS</h2>
			</div>
			<Projects/>
		</Container>
		<Container id="studies">
			<div class="flex flex-row pb-6">
				<Book class="size-8"/>
				<h2 class="text-3xl pl-2 font-semibold">ESTUDIOS</h2>
			</div>
			<Studies/>
		</Container>
		<div class="pb-32">
			<Container id="contact">
				<div class="flex flex-row pb-6">
					<ChatBubble class="size-8"/>
					<h2 class="text-3xl pl-2 font-semibold">CONTACTO</h2>
				</div>
				<Emails/>
			</Container>
		</div>
		<Footer/>

	</main>
</Layout>

