---
import Linkedln from '../icons/Linkedln.astro'
import Github from '../icons/Github.astro';
import Gmail from '../icons/Gmail.astro';
import SocialPill from '../components/SocialPill.astro';
---
<div class="pt-20">
    <div class="flex flex-row items-center px-8 gap-x-8">
        <img src="../public/img/FotoAbout.jpg" alt="foto personal" class="w-48 h-auto rounded-full"/>
        <h1 class="text-white text-3xl md:text-4xl font-bolt flex flex-row">LARO POZUELO DE LA TORRIENTE</h1>
    </div>
    <p class="py-4 text-lx text-wrap">
        ¡Hola! Soy Laro, un entusiasta de la programación. Actualmente estoy mejorando mis habilidades y desarrollandome profesionalmente.
    </p>
    <p class="py-4 text-lx text-wrap">
        Aunque todavía estoy en las primeras etapas de mi carrera, estoy dedicado al crecimiento continuo y la adquisición de nuevas habilidades. Me apasiona explorar las diversas áreas del desarrollo de software.
        Disfruto especialmente con la parte del desarrollo, donde estoy dedicando tiempo y esfuerzo para adquirir un profundo conocimiento y experiencia. Estoy emocionado por introducirme en el mundo laboral de este campo y conseguir nuevas oportunidades.				
    </p>
    <p class="py-4 text-lx text-wrap">
        Además de mi dedicación a mi formación, me gusta hacer deporte y disfruto compartiendo mis pasiones con mis amigos. Ya sea jugando en equipo, yendo al gimnasio o explorando nuevas actividades al aire libre, siempre encuentro alegría en mantenerme activo y saludable.
    </p>
    <nav class="flex md:flex-row gap-x-2 mt-3">
        <SocialPill href="https://github.com/larolpt">
            <Github class="size-6"/>Github
        </SocialPill>					
        <SocialPill href="https://www.linkedin.com/in/laro-pozuelo-de-la-torriente-151757281/">
            <Linkedln class="size-6"/>Linkedln
        </SocialPill>
        <SocialPill href="mailto:larolpt@gmail.com">
            <Gmail class="size-6"/>larolpt@gmail.com
        </SocialPill>
        <button class="rounded-full text-gray-700 px-6 border-2 bg-violet-400 border-gray-700 py-2 hover:scale-110 hover:bg-violet-400/50 transition" 
            onclick="window.open('../public/Curriculum.pdf')">
            Descargar CV
        </button>
    </nav>
</div>
