<footer class="bg-gray-800 py-4">
    <div class="container mx-auto text-center text-gray-400">
      <p>© 2024 Todos los derechos reservados</p>
      <p>Hecho con <span class="text-red-500">&hearts;</span> por Laro</p>
    </div>
  </footer>
  