---
import Github from "../icons/Github.astro";
import Java from "../icons/Java.astro";
import Javascript from "../icons/Javascript.astro";
import Tailwind from "../icons/Tailwind.astro";
import AstroIcon from "../icons/AstroIcon.astro";

const TAGS = {
    JAVA: {
        name: "Java",
        icon: Java,
  },
    TAILWIND: {
        name: "Tailwind",
        icon: Tailwind,
  },
    JAVASCRIPT: {
        name: "JavaScript",
        icon: Javascript,
    },
    ASTRO:{
        name:"Astro",
        icon: AstroIcon,
    }
}

const PROJECTS = [
    {
        title: "Sistema para Hospital",
        description: "Este es un proyecto de la universidad con el objetivo de hacer un sistema de un hospital ademas de mejorar mis habilidades con la programación orientada a objetos.",
        github: "",
        image: "../public/img/p1.webp",
        tags: [TAGS.JAVA,]
    },
    {
        title: "Portfolio personal",
        description: "Este proyecto esta hecho con el objetivo de aprender Astro y enseñar mis proyectos personales que voy desarrollando.",
        github: "https://github.com/larolpt/Astro_Portfolio",
        image: "../public/img/p2.webp",
        tags: [TAGS.ASTRO,TAGS.TAILWIND,]
    },
]
---
<div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
    {
        PROJECTS.map(({title,description,github,image,tags}) => (
            <div class="w-full max-w-64 rounded overflow-hidden shadow-lg relative flex flex-col">
                <img class="w-full" src={image} alt="Imagen del proyecto">
                <div class=" bg-slate-900 px-3 py-2 h-full">
                    <header class="flex flex-row items-center justify-between">
                        <h3 class="font-bold text-orange-100 text-base mb-2 pr-2">{title}</h3>
                        <a href={github} class="flex flex-row items-center gap-x-2 rounded-full px-2 border border-white/20 py-1 text-sm hover:scale-105 hover:bg-white/10 transition">
                            <Github class="size-3"/>Github
                        </a>
                    </header>
                    <p class="text-gray-500 text-sm">
                        {description}
                    </p>
                </div>
                <footer class="w-full bg-slate-900 py-2 px-2 gap-x-2 rounded-b inline-flex items-center">
                    {
                        tags.map((tag) => (
                            <span class="">
                                <tag.icon class="size-8"/>
                            </span>
                        ))
                    }
                </footer>
            </div>
        ))
    }
    
</div>
